body {font-family: Arial, Veranda, Helvetica; background:#FAF0D9; color: #999999; margin:50px; text-align:center;}
h1, h2 { text-align:center; color:#a52a2a}
h3 {position: bottom; text-align:center; color:#664008;}
a:link {color:#a52a2a;}
a:visited {color:#d2691e;}
em {color:#d2691e;}
.raised {
            -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.drop-shadow {
            position:relative;
            /*float:left;*/
            width:85%;    
            padding:2em; 
            margin:2em 10px 4em; 
            background:#fffeee;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.drop-shadow:before,
.drop-shadow:after {
           content:"";
           position:absolute; 
           z-index:-2;
}
.drop-shadow p {
           font-size:16px;
           font-weight:bold;
}

li {text-align: left;}