{% extends "_base.html" %}

{% block page_title %}Bookcheck | {{ book.title }}{% endblock %}

{% block content %}
	<h1><a href="{% url bookcheck:list %}">{{ book.title }}</a></h1>

<div class ="drop-shadow raised">
		<ul>
	  
	    <li><em>Topic:</em> {% for topic in book.topic.all %}{{ topic }}, {% endfor %}</li></br>		
			<li><em>Author:</em> {{ book.author }}</li></br>
			<li><em>Quantity:</em> {{ book.quantity }}</li></br>
			<li><em>Description:</em> {{ book.description }}</li></br>
			<li><em>Currently checked out by:</em></br>
							{% for user in book.users.all %}</br>
						 		<ul>
									<li>"<em>{{ user }}</em> / {{ user.email }}", on: {{ book.check_date }}</li> 
								</ul>	
							{% empty %}</br>
				 		  	Nobody!
							{% endfor %}</li></br>
					
					{% if book.comments %}
			<li><em>Comments:</em> {{ book.comments }}</br>
		      <em>posted by:</em> {{ user }}</br>
		 		  <em>on:</em> {{ book.check_date}}</li>
			    {% endif %} 
					
		</ul>
</div>

  {% if not user in book.users.all %}  
		<p> {% if book.quantity >= 1 %}
			  <a href="{% url bookcheck:checkout book.id %}">Want to Checkout this book?</a>
	 			{% else %}
				Sorry this book is unavailable
				{% endif %}</p>
  {% else %}  
		<p><a href="{% url bookcheck:returned book.id %}"> {{ user|capfirst }}, Are you returning this book?</a></p>   
	{% endif %}
	{% if user in book.users.all %}
		<h3><a href="{% url bookcheck:comments book.id %}">Would you like to leave a comment for others to see?</a></h3>
	{% endif %}
{% endblock %}

