<html>
  <body>
	
		<h1><a href="{% url bookcheck:list %}">{{ book.title }}</a></h1>
	
			<ul>
			  <li>{% for user in users.all %}*{{ user.user_name }}*{% endfor %}</li></br>  
		    <li>Topic: {% for topic in book.topic.all %}{{ topic }}, {% endfor %}</li></br>		
				<li>Author: {{ book.author }}</li></br>
				<li>Quantity: {{ book.quantity }}</li></br>
				<li>Description: {{ book.description }}</li></br>
			</ul>
    
		<p>{% if book.quantity >= 1 %}<a href="{% url bookcheck:checkout book.id %}">Want to Checkout this book?</a>{% else %}Sorry this book is unavailable{% endif %}</p>
	  <p><a href="{% url bookcheck:returned book.id %}">Are you returning a book?</a></p>   
  </body>
</html>