{% extends "_base.html" %}

{% block page_title %}Bookcheck | {{ book.title }}{% endblock %}

{% block content %}
	<h1><a href="{% url bookcheck:list %}">{{ book.title }}</a></h1>

<div class ="drop-shadow raised">
		<ul>
	  
	    <li><em>Topic:</em> {% for topic in book.topic.all %}{{ topic }}, {% endfor %}</li></br>		
			<li><em>Author:</em> {{ book.author }}</li></br>
			<li><em>Quantity:</em> {{ book.quantity }}</li></br>
			<li><em>Description:</em> {{ book.description }}</li></br>
			<li><em>Currently checked out by:</em>
					{% for user in book.users.all %}
				 	"{{ user }} / {{ user.email }}", 
					{% empty %}
		 		  Nobody!
					{% endfor %}</li></br>
		</ul>
</div>

  {% if not user in book.users.all %}  
	<p>{% if book.quantity >= 1 %}<a href="{% url bookcheck:checkout book.id %}">Want to Checkout this book?</a>
		 {% else %}Sorry this book is unavailable{% endif %}</p>
  {% else %}  
	<p><a href="{% url bookcheck:returned book.id %}">Are you returning this book?</a></p>   
	{% endif %}
			
{% endblock %}
