{% extends "_base.html" %}

{% block page_title %}Bookcheck | Book List{% endblock %}

{% block content %}
	
	<h1>The Books</h1>

		<ul>
			
			{% for book in book.all %}
				<div class ="drop-shadow raised">
				
				<li><a href="{% url bookcheck:detail book.id %}">{{ book.title }}</a></br> 
					
					{% for name in book.users.all %}
						
					<p> {% if name == user %} <a href = "{% url bookcheck:users %}">You<a/> have this book checked out{% endif %}</p> 
						
					{% empty %}
					
					<p>{% if book.quantity >= 1 %}This book is currently available!{% else %} This book is not available at this time...{% endif %}</p>
					
					{% endfor %}
				
				</div>
				
			{% endfor %}
		
		</ul>
	
  <h2><a href="{% url bookcheck:add_book %}">Add a new Book!</a></h2>
	
  <p><a href = "{% url bookcheck:logout %}">Logout</a></p>  	
	
	{% if book.quantity >= 1 %} Book is available{% else %} Book is not available{% endif %}</li></br>
	
{% endblock %}