{% extends "_base.html" %}

{% block page_title %}Bookcheck | All Users{% endblock %}

{% block content %}

	  <h1> <a href ="{% url bookcheck:list %}">All Users</a></h1>
		  
			<div class="drop-shadow raised">
			
        <ul>
				  {% for user in users %} 
				   	<li>{{ user }} / {{ user.email }} 
	      			<ul>
							{% for book in user.book_set.all %} 
							<li>{{ book }}</li> 
							{% endfor %} 
	       		  </ul>
				 		</li>
					{% endfor %} 
        </ul>
			
			</div>
						
		<h2><a href="{% url bookcheck:new_user %}">Become a user, everyone is doing it...</a></h2>

{% endblock %}
